<!DOCTYPE html>
<html lang="en">

<head>
    <title>SCM - Smart Contact Manager</title>
    <meta charset="UTF-8"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/pre/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/pre/css/main.css'%}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <a class="login100-form-btn1" href="user/login/">Login</a>
        <label class="label">OR</label>
        <a class="login100-form-btn2" href="user/register/">Sign Up</a>
    </div>

</body>

</html>